$font-names: (
    300: 'Ubuntu-Light',
    400: 'Ubuntu-Regular',
    500: 'Ubuntu-Medium',
    700: 'Ubuntu-Bold',
);

@each $key in map-keys($font-names) {
    $value: map-get($font-names, $key);
    @font-face {
        font-family: 'Ubuntu';
        src: url('../fonts/#{$value}.woff2') format('woff2'),
             url('../fonts/#{$value}.woff') format('woff'),
             url('../fonts/#{$value}.ttf') format('truetype');
        font-weight: $key;
        font-style: normal;
    }
}
