
.sidebar{
    height: calc(100vh - 100px);
    top: auto !important; 
    .close-sidebar-btn{
        width: 30px;
        height: 30px;
        background: #76101a url(../images/cancel-music.svg) center/100% no-repeat;
        border: none;
        position: absolute;
        top: -65px;
        left: 15px;
    }
}
.header{
    background: $color-red;
    height: 100px;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 50;
    @include desktop1400{
        height: 200px;
        padding: 33px 0 0; 

    }
    &_circle{
        width: 156px;
        height: 128px;
        top: -11px;
        background: url(../../images/header-logo.svg) center 19px/90px no-repeat #ec2033;
        display: block;
        
        border-radius: 50%;
        position: relative;
        margin: 0 auto;
        z-index: 5; 
        @include desktop1400{
            top: -5px;
            width: 258px;
            height: 230px;
            background-size: 164px;
        }
        &-wrap{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }   
    }
    &_nav-tools{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        @include desktop1400{
            height: auto;
            align-items: flex-start;

        }
    }
    &_nav-left{

    }
    &_nav-right{

    }
    &_nav-region{
        font-weight: 300;
        // font-size: 14px;
        font-size: 16px;
        line-height: 26px;
        color: #fff;
        border: none;
        background: transparent;
        &::after{
            content: '';
            display: block;
            height: 23px;
            width: 18px;
            margin-left: 8px;
            background: url(../../images/map-point-icon.svg) -3px 0px/24px no-repeat;
        }
    }
    &_nav-profile{
        font-weight: 300;
        font-size: 16px;
        // font-size: 14px;

        line-height: 26px;
        color: #fff;
        border: none;
        background: transparent;
        &::after{
            content: '';
            display: block;
            @include size(20px);
            margin-left: 10px;
            background: url(../../images/profile-icon.svg) 0 0px/20px no-repeat;
        }
    }
    &_nav-lang{
    // font-size: 14px;

        font-weight: 300;
        font-size: 16px;
        line-height: 23px;
        padding: 0 2px 2px;
        margin-bottom: -2px;
        color: #fff;
        border: none;
        margin-left: 35px;
        display: inline-block;
        background: transparent;
        border-bottom: 1px solid #fff;
    }
    .toggle-sidebar{
        display: block;
        @include size(30px);
        background: transparent url(../../images/menu-three-horizontal-lines-symbol.svg) center/100% no-repeat;
        border: none;
        margin-right: 20px;
    }
}

.lang-block{
    display: block;
    position: relative;
    .dropdown-menu{
        display: none;
        z-index: 50;
        position: absolute;
        width: 46px;
        right: 0!important;
        left: auto!important;
        top: 35px!important;
        transform: none !important;
        &.show{
            display: flex;
            flex-direction: column;
        }
    }
    .lang-item{
        font-size: 13px;
        font-weight: 300;
        padding-left: 7px;
        color: #000;
        background: #fff;
        border-bottom: 1px solid #d2d2d2;
        height: 31px;
        line-height: 30px;
        &:last-child{
            border-bottom: 0;
        }
    }
}

.main-nav{
    display: none;
    flex-direction: row;
    align-items: center;
    margin: 50px 0 0;
    justify-content: space-between;
    @include desktop1400{
    display: flex;

    }
}
.main-menu{
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 10;
    @include desktop1400{
        display: flex;
    }
}

.menu-item{
    list-style: none;
    cursor: pointer;
    margin-right: 25px;
    @include desktop1560{
    margin-right: 30px;

    }
    position: relative; 
    &:nth-child(1){
        margin-right: 50px;
    }
    &:nth-child(2){
        margin-right: 40px;
    }
    &:nth-child(3){
        margin-right: 45px;
    }
    &:nth-child(5){
        margin-left: auto;
    }
    
    .dropdown-menu{
        position: absolute;
        bottom: -174px !important;
        top: auto !important;
        left: 0;
        border: 1px solid #dadada;
        background: #f4f4f4;
        padding: 17px 0 27px;
        width: 360px;
        display: none;
        z-index: 50;
        flex-direction: row;
        &.show{
            display: flex;
        }
    }
    .dropdown-item{
        font-size: 16px;
        line-height: 38px;
        color: #000;
        display: inline-block;
        height: 39px;
        width: 100%;
        text-align: left;
        padding: 0 0 0 26px;
        
        &:hover{
            background: #fff;
        }
    }
    .dropdown-item-col{
        // width: 50%;
    }
}
.menu-item-link{
    display: inline-flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 34px;
    font-weight: 300;
    color: #fff;
    @include desktop1560{
    font-size: 16px;
            
    }
    &::after{
        content: '';
        display: inline-block;
        min-width: 8px;
        margin-left: 8px;
        height: 4px;
        background: url(../../images/dropdown-arrow-02.svg) center/100% no-repeat;
    }
    &:last-child{
        
        &::after{
            display: none;
        }
    }
}
.cart-button{
    // min-width: 116px;
    // margin-left: 20px;
    // height: 40px;
    border: 1px solid #f45c6a;
    min-width: 158px;
    margin-left: 25px;
    height: 57px;
    background: transparent;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    &:hover, &:focus, &:active{
        background: #000;
    }
    &::before{
        content: '';
        display: inline-block;
        // width: 25px;
        // height: 22px;
        // background: url(../../images/shopping-cart-icon.svg) 0/23px no-repeat;
        margin-right: 11px;
        width: 30px;
        height: 25px;
        background: url(../../images/shopping-cart-icon.svg) 0/27px no-repeat;
    }
    &_index{
        font-weight: 700;
        font-size: 20px;
        margin-right: 5px;
    }
}
.region-block{
    position: relative;
}
.region-popup{
    display: none !important;
    position: absolute;
    bottom: -48px;
    left: 0;

    &.show{
        display: flex !important;
    }
    .region-input{
        width: 212px;
        height: 38px;
        padding: 0 15px;
        font-weight: 300;
        background: #fff;
        border: none;
        font-size: 16px;
        color: #7b7b7b;
        margin-right: 9px;
    }
    .region-btn{
        margin-right: 9px;
        display: block;
        text-align: center;
        font-size: 14px;
        height: 38px;
        line-height: 38px;
        width: 46px;
        text-transform: uppercase;
        color: #fff;
        background: #000;
        text-align: center;
        border: none;
    }
}