

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.valign-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.img-fluid {
    max-width: 100%;
    height: auto;
    display: block;
}

.button-def{
    background: $color-red;
    font-size: 16px;
    line-height: 26px;
    padding: 10px 39px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: 400;
    &:hover, &:focus, &:active{
        background: $button-active;
    }
}

.bold{
    font-weight: 700;
}


.title-border{
    position: relative;
    display: block;
    margin-top: 5px;
    border-top: 1px solid #000;
    padding-top: 2px;
    border-bottom: 2px solid #000;
}

.p{
    font-size: 16px;
    font-weight: 300;
    color: #000;
    line-height: 30px;
}

.price{
    font-weight: 300;
    color: #fff;
    font-size: 60px;
    &::after{
        content: '';
        display: inline-block;
        width: 25px;
        height: 31px;
        margin-left: 13px;
        background: url(../../images/ruble-icon.svg) 0/25px no-repeat;
    }
    &-descr{
        font-size: 16px;
        color: #fff;
        line-height: 25px;
        font-weight: 300;
    }
}

.thumbnail{
    &-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        @include desktop1400{
            flex-wrap:  nowrap;
        }
    }
    &-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 50%;
        width: 100%;
        padding: 0 5px;
        text-align: center;
        margin-bottom: 20px;
        @include desktop1400{
            max-width: 230px;
            margin-bottom: 0;
        }
    }
    &-img{
        display: block;
        @include size(37px);
        margin-bottom: 40px;
        border-radius: 50%;
        background: #e8e8e8;
    }
    &-descr{
        line-height: 26px;
    }
}


.main-content{
    padding-top: 100px;
    display: block;
    @include desktop1400{
    padding-top: 200px;

    }
}


.sidebar-wrapper {
    position: relative;
    height: 100%;
    overflow: auto;
}

.sidebar{
    background: #fff;
}

.slick-list, .slick-track, {
    height: 100%;
}

.main-slider{
    height: 400px;
    width: 100%;
    overflow: hidden;
    @include mobile576{
        height: 480px;
    }
    @include tablet768{
        height: 600px;
    }
    @include desktop992{
        height: 778px;
    }
    .slick-slide {
        outline: none
    }
    .slider-item{
        display: block;
        position: relative;
    }
    .slider-item_img{
        display: block;
        opacity: .9;
        object-fit: cover;
        @include size(100%);
        @include desktop992{
            width: auto;
        }
    }
    .slider-item_content{
        position: absolute;
        
        width: 100%;
        bottom: 15px;
        right: 15px;
        max-width: 245px;
        @include mobile576{
            max-width: 300px;
            right: 20px;

        }
        @include tablet768{
            max-width: 330px;
            bottom: 20px;
            right: 40px;
        }
        @include desktop992{
            bottom: 33px;
            right: 60px;
        max-width: 360px;

        }
        @include desktop1400{
            right: 145px;
        }
    }
    .slick-dots{
        margin: 10px 0 -5px;
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        @include tablet768{
            margin-top: 15px;
        }
        @include desktop992{
            margin: 25px 0 0 0;

        }
        li{
            display: inherit;
        }
        button{
            padding: 0;
            border: none;
            background: black;
            border-radius: 50%;
            min-width: 5px;
            height: 5px;
            margin: 0 6px;
            font-size: 0;
            @include tablet768{
                min-width: 7px;
                height: 7px;
            }
        }
    }
    .slider-card{
        display: flex;
        flex-direction: column;
        background: #000;
        position: relative;
        padding: 10px 15px 10px 20px;
        @include mobile576{
            padding: 10px 30px 20px 25px;

        }
        @include tablet768{

        
        padding: 20px 43px 26px 36px;
        }
        @include desktop992{
            padding: 25px 43px 30px 36px;

        }
        
        &::before{
            content: '';
            display: block;
            position: absolute;
            top: -12px;
            left: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 122px 12px;
            border-color: transparent transparent #000000 transparent;
            @include mobile576{
                border-width: 0 150px 12px;

            }
            @include tablet768{
            top: -15px;

            border-width: 0 165px 15px;
                
            }
            @include desktop992{
                top: -20px;
                border-width: 0 180px 20px 180px;

            }
        }
    }
    .slider-card_main-title{
        
        font-weight: 500;
        font-size: 22px;
        line-height: 22px;
        @include mobile576{
            margin-bottom: 10px;
            font-size: 28px;
            line-height: 30px;
        }
        @include tablet768{
        font-size: 32px;

            line-height: 36px;

        }
        
        @include desktop992{
            font-size: 40px;
            line-height: 48px;
            margin-bottom: 22px;
        }
    }
    .slider-card_title{
        font-size: 22px;
    line-height: 26px;
        
        font-weight: 300;
        color: #fff;
        margin-bottom: 5px;
        @include mobile576{
            font-size: 26px;
        line-height: 30px;
        }
        @include tablet768{
        font-size: 32px;
        line-height: 40px;
        font-weight: 300;
        margin-bottom: 10px;
    }
        @include desktop992{
            font-size: 40px;
            line-height: 50px;
            margin-bottom: 15px;
        }
    }
    .slider-card_descr{
        padding-bottom: 5px;
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 18px;
        
        font-weight: 300;
        color: #fff;
        border-bottom: 1px solid #3a3a3a;
        @include mobile576{
        padding-bottom: 10px;

        }
        @include tablet768{
        margin-bottom: 10px;

        }
        @include desktop992{
            padding-bottom: 22px;
            margin-bottom: 17px;
            font-size: 16px;
            line-height: 22px;
        }
    }
    .slider-card_btn{
        position: absolute;
        right: 0;
        bottom: 0;    
        padding: 5px 30px;
        font-size: 14px;
        @include mobile576{
            padding: 8px 35px;

        }
        @include tablet768{
            font-size: 16px;
        }
        @include desktop992{
            padding: 10px 39px;
        }
    }
    .title-border{
        margin-bottom: 5px;
        @include mobile576{
            margin-bottom: 10px;

        }
        @include tablet768{
            margin-bottom: 15px;

        }
        @include desktop992{
            margin-bottom: 25px;

        }
    }
    .slider-card_address{
        color: #2a1f1c;
        font-size: 14px;
        margin-bottom: 35px;
        @include tablet768{
        font-size: 16px;
        margin-bottom: 40px;
    }
        @include desktop992{
        margin-bottom: 75px;

        }
    }
    .price{    
        font-size: 34px;
        @include mobile576{
            font-size: 42px;

        }
        @include tablet768{
            font-size: 48px;

        }
        @include desktop992{
font-size: 60px;
        }
        &::after{
            height: 22px;
            margin-left: 8px;
            background: url(../../images/ruble-icon.svg) 0/18px no-repeat;
            @include tablet768{
                height: 26px;
                margin-left: 13px;
                background-size: 22px;
            }
            
            @include desktop992{
                background-size: 25px;
            }
        }
    }
    .price-descr{
        font-size: 14px;
        line-height: 22px;
        @include desktop992{
            font-size: 16px;
            line-height: 25px;
        }
    }
}


.section{
    padding: 50px 0 50px;
    @include desktop1400{
        padding: 83px 0 50px;
    }
    &_title{
        font-size: 30px;
        font-weight: 500;
        color: #000;
        display: inline-flex;
        flex-direction: row;
        align-items: flex-end;
        word-break: break-all;
        @include desktop1400{
            font-size: 40px;
        }
        &::before{
            content: '';
            display: inline-block;
            height: 53px;
            min-width: 53px;
            background: url(../../images/mmd-logo-01.svg) 0 0 no-repeat;
            position: relative;
            margin: 0 21px 0 0;
        }
        &-wrap{
            display: inline-block;
            position: relative;
            margin-bottom: 30px;
            @include desktop1400{
                margin-bottom: 65px;
            }
        }
        &-border{
            margin-top: 8px;
        }
    }
    &_descr{
        margin-bottom: 40px;
        @include desktop1400{
            margin-bottom: 65px;
        }
    }
}


.gallery{
    &-row{

    }
    &-item{
        display: block;
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
        width: 100%;
        height: 300px;

        
        @include tablet768{
            margin-bottom: 0;
            height: 100%;
        }
        @include desktop992{
            margin-bottom: 30px;
        }
        &:hover{
            .img-fluid{
                transform: scale(1.2);
            }
        }
        &-bottom{
            @include desktop992{
                margin-bottom: 0;

            }
        }
        .img-fluid{
            z-index: -1;
            position: relative;
            transition: .3s ease-in-out;
        }
        &_col{
            @media screen and (min-width: 778px) and (max-width:991px){
               
                max-width: 50%;
                flex: 0 0 50%;
                height: 300px;
                &:nth-child(1){
                    order: 1;
                }
                &:nth-child(2){
                    order: 3;
                    max-width: 100%;
                    flex: auto;
                    margin-top: 30px;
                    flex-direction: row;
                    .gallery-item{
                        margin: 0 15px 0 0;
                    }
                    .gallery-item-bottom{
                        margin: 0 0 0 15px;
                    }
                }
                &:nth-child(3){
                    order: 2;
                }
            }
            
        }
    }
    &-link{
        position: absolute;
        left: 0;
        bottom: 30px;
        
        text-align: center;
        text-transform: uppercase;

        height: 45px;
        line-height: 45px;
        font-size: 14px;
        min-width: 165px;
        padding: 0 18px;
        @include desktop1400{
            height: 67px;
            line-height: 67px;
            font-size: 14px;
            min-width: 204px;
            padding: 0 62px;
        }
    }
    &-img{
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
}

.article-title{
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;

}

.goods-section{
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    margin-bottom: 108px;
    @include desktop992{
        flex-direction: row;
        
    }
    .col-left{
        width: 100%;
        display: flex;
        flex-direction: column;
        @include desktop992{
        max-width: 780px;

        }
    }
    .col-right{
        width: 100%;
        display: block;
        @include desktop992{
            max-width: 750px;

        }
    }
    .section_title::before{
        margin-right: 13px;
    }
    .section_title-wrap {
        margin-right: 20px;
        margin-bottom: 25px;
        align-self: baseline;
        @include tablet768{
        margin-bottom: 58px;

        }
    }
    .article-title {
        margin-bottom: 19px;
    }
    .p-1{
        margin-bottom: 39px;
    }
    .p-2{
        margin-bottom: 20px;
    }
    
    .p{
        line-height: 26px;
    }
    .section_descr{
        padding: 0  0 0 30px;
        margin: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-bottom: 20px;
        @include tablet768{
            padding: 0  15px 0 30px;
        }
        @include desktop992{
            margin-bottom: 0;

            padding: 0 30px 0 128px;

        }
    }

    
    .row{
        margin-bottom: -28px;
    }
}

.good-item{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 10px 10px 15px;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    margin: 0 auto 28px;
    @include mobile480{
    max-width: 360px;

    }
    @include desktop992{
        padding: 10px 10px 33px;
    }
    &_col{
        @media screen and (max-width: 480px) {
            max-width: 100%;
            flex: auto;
        } 
        
    }
    &_img{
        display: block;
        object-fit: contain;
        width: 100%;
        height: 100%;
        &-wrap{
            display: block;
            height: 175px;
            margin-bottom: 18px;
        }
    }
    &_title{
        font-weight: 500;
        font-size: 22px;
        margin-bottom: 19px;
    }
    &_line{
        width: 140px;
        border-top: 1px solid #000;
        margin-bottom: 15px;
    }
    &_price{
        margin-bottom: 22px;

        .price{
            font-size: 36px;
            color: #000;
            &::after{
                margin-left: 7px;
                width: 15px;
                height: 18px;
                margin-right: -13px;
                background: url(../../images/ruble-black-icon.png) 0/13px no-repeat;
            }
        }
        .price-descr{
            color: #000;
            font-size: 14px;
        }
    }
    
    &_btn{
        width: 100%;
        max-width: 200px;
        @include desktop992{
            width: 163px;
        }
    }
}

.pag-block{
    margin-top: auto;
    padding-top: 19px;
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .pag-btn{
        display: block;
        @include size(65px);
        border: 1px solid #ddd;
        background: #fff  url(../../images/arrow-right.svg) center no-repeat;
        &:hover{
            background-color: #ddd; 
            background-image: url(../../images/arrow-left.svg);
        }
        &.left{
            margin-right: -1px;
            transform: rotate(180deg);
            &:hover{
                transform: rotate(0deg);
            }
        }
        &.right{
            transform: rotate(0deg);

            &:hover{
                transform: rotate(180deg);
            }
        }
    }
}

.bonus-section{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    @include desktop992{
        margin-bottom: 50px;
        flex-direction: row;

    }
    .col-left{
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 28px;
    
        @include desktop992{
            width: 44%;
            max-height: 660px;

            padding-right: 30px;
        }
    }
    .col-right{
        display: flex;
        position: relative;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        @include desktop992{
            width: 56%;
        }
    }
    .img-lg-wrap{
        overflow: hidden;
        height: 300px;
        @include tablet768{
            height: 420px;
        }
        @include desktop992{
            height: 100%;
        }
        &:hover{
            .img-lg{
                transform: scale(1.2);
            }
        }
    }
    .img-lg{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        position: relative;
        transition: .3s ease-in-out;
    }
    .bonus-item_col{
        display: block;
        width:100%;
        margin-bottom: 28px;
        @include mobile480{
            width: 50%;
            padding: 0 15px;
        }
        @include desktop992{
            width: 39%;
            padding: 0;
        }
        &:nth-child(odd){
            
            @include desktop992{
                padding: 0 30px 0 0;
                width:  61%;
            }
        }
    }
    .bonus-item{
        display: block;
        position: relative;
        height: 300px;
        width: 100%;
        overflow: hidden;
        @include desktop992{
            height: 100%;
        }
        &:hover{
            .bonus-item_img{
                transform: scale(1.2);
            }
        }
    }
    
    .bonus-item_img{
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        position: relative;
        transition: .3s ease-in-out;
    }
    .bonus-item_link{
        display: block;
        position: absolute;
        text-transform: uppercase;
        width: auto;
        font-size: 14px;
        padding: 19px;
        left: 0;
        &.top{
            top: 0;
        }
        &.bottom{
            bottom: 0;
        }
    }
}


.bonus-event{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 14px 10px;
    text-align: center;
    background: #000;
    color: #fff;
    @include tablet768{
        width: 360px;
    position: absolute;

    }
    &_title{
        font-weight: 300;
        font-size: 28px;
        margin: 25px 0 25px;
        text-transform: uppercase;
    }
    &_descr{
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
        padding: 0 30px;
    }
    &_time{
        font-size: 26px;
        font-weight: 300;
        line-height: 33px;
        margin-bottom: 23px;
    }   
    &_btn{
        margin: 0 auto 23px;
        max-width: 159px;
    }
    .line{
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding-top: 1px;
        display: block;
        width: 100%;
    }
}

.antology-section{
    margin-bottom: 30px;
    @include desktop992{
        margin-bottom: 0;
    }
}

.antology-header{
    margin-bottom: 66px;
    .section_title-wrap{
        margin-bottom: 0;
    }
    .section_title{
        text-transform: uppercase;
        font-size: 36px;
        &::before{
            margin-right: 14px;
        }
    }
    .section_title-border {
        margin-top: 14px;
    }
}
.antology-item{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    @include desktop992{
        margin-bottom: 133px;
    }
    &_img-wrap{
        display: block;
        width: 100%;
        height: 270px;
        margin-bottom: 30px;
    }
    &_img{
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &_title{
        font-size: 24px;
        display: block;
        margin-bottom: 22px;
        line-height: 18px;
        text-transform: uppercase;
    }
    &_descr{
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 8px;
    }
    &_link{
        font-weight: 500;
        font-size: 16px;
        color: #000;
    }
}
.antology-footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid #ddd;
    padding-top: 27px;
    margin-top: -15px;
    margin-bottom: 5px;
    .button-def{

    }
}

.contact-section{
    .section_title-wrap{
        margin-bottom: 55px;
    }
    .section_title{
        text-transform: uppercase;
        font-size: 36px;
        &::before{
            margin-right: 14px;
        }
    }
    .section_title-border {
        margin-top: 14px;
    }
    
}
.contact-row{
    display: flex;
    flex-direction: column;
    
    @include desktop992{
        height: 515px;
    flex-direction: row;

    }
    .contact-col{
        width: 100%;
        display: block;
        @include desktop992{
        width: 50%;

        }
    }
    .contact-img-wrap{
        display: block;
        position: relative;
        @include size(100%);
    }
    .contact-img{
        display: block;
        position: relative;
        @include size(100%);
        object-fit: cover;
    }
    .contact-info{
        display: block;
        width: 100%;
        background: #000;
        padding: 21px 32px 20px 26px;
        @include tablet768{
            padding-bottom: 60px;
        }
    }
    .line{
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding-top: 1px;
        display: block;
        width: 100%;
        margin-bottom: 38px;
    }
    .contact-info_in{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding-top: 30px;
        flex-wrap: wrap;
        justify-content: space-around;
        @include desktop992{

        }
        .b{
            color: #fff;
            font-weight: 500;
            font-size: 16px;
        }
        .p{
            color: #fff;
            font-size: 16px;
            font-weight: 300;
            line-height: 22px;
        }
    }
    .contact-info_item{
        width: 100%;
        margin-bottom: 25px;
        display: flex;
            flex-direction: row;
        &::before{
            content: '';
            display: block;
            margin-right: 12px;
            min-width: 38px;
            height: 38px;
            background-position-x: center;
        }
        @include tablet768{
            margin-bottom: 0;
            width: auto;
            &::before{
                background-position-x: initial;
            }
        }
        &.logo{
            height: 100px;
            min-width: 138px;
            margin-top: -30px;
            background: url(../../images/red-logo-03.svg) 0px 0px/138px 100px no-repeat;
            background-position: center 0;
            @include desktop992{
                background-position: 0 0;
            }
        }
        &.map-point{
            @include desktop992{
                width: 180px;
            }
            &::before{
                background: url(../../images/map-point-red-icon.svg) center/32px no-repeat;
                @include desktop992{
                    min-width: 24px;
                    background-position: -4px 1px;
                }
            }
        }
        
        &.clock{
            &::before{
                background: url(../../images/clock-icon.svg) center/100% no-repeat;
                @include desktop992{
                    min-width: 38px;
                    background-position: 0 0;

                }
            }
        }
        
        &.phone{
            white-space: nowrap;
            &::before{
                background: url(../../images/phone-icon.svg) center/36px no-repeat;
                @include desktop992{
                    min-width: 22px;
                    background-position: -7px 0px;
                }
            }
        }
    }
    
    .map-block{
        display: block;
        max-width: 100%;
        height: 293px;
        &_img{
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.partners-block{
    background: #f4f4f4;
    padding: 31px 0 27px;
    .partners-row{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-right: 0;
        @include desktop992{
            
            flex-wrap: nowrap;
            padding-right: 8.5%;
        }
    }
    .p{
        font-size: 16px;
            width: 100%;
            font-weight: 300;
            margin-bottom: 20px;
            text-align: center;
            white-space: nowrap;
        @include desktop992{
            width: auto;
            margin: 0;
            text-align: left;
        }
    }
    .partners-item{
        display: block;
        width: 50%;
        margin-bottom: 20px;
        padding: 0 10px;

        @include tablet768{
            width: 25%;
        }
        @include desktop992{
            width: 160px;
            margin-bottom: 0;
        
        }
        @include desktop1200{

        }
        &_img{
            display: block;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
        }
    }
    .partners-btn{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
        white-space: nowrap;
        padding: 10px 31px 10px 25px;
        @include desktop992{
            margin: 0;
        }
        &::before{
            content: '';
            height: 23px;
            min-width: 18px;
            margin-right: 14px;
            display: inline-block;
            background: url(../../images/map-point-icon.svg) -3px 0/24px no-repeat;
        }
    }
}

.email-section{
    background: #ec2033;
    padding: 34px 0 32px;
    .input{
        height: 55px;
        line-height: 55px;
        border: none;
        background: #fff;
        color: #5c5c5c;
        font-size: 16px;
        font-weight: 300;
        padding: 0 22px;
        margin-bottom: 11px;
        width: 100%;
    }
    .email-info{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 20px;
        line-height: 26px;
        color: #fff;
        margin: 0 0 30px;
        @include desktop992{
            margin: 52px 0 0;

        }
        &::before{
            content: '';
            position: relative;
            top: -3px;
            display: inline-block;
            min-width: 100px;
            height: 92px;
            margin-right: 30px;
            background: url(../../images/header-logo.svg) -27px 0/156px 156px no-repeat;
        }
    }
    .email-label{
        margin: 9px 0 27px;
        color: #fff;
        font-weight: 300;
        font-size: 16px;
        &::before{
            content: '';
            display: inline-block;
            min-width: 20px;
            height: 20px;
            background: #fff;
            margin-right: 10px;
        }
    }
    .email-checkbox{
        display: none;
    }
    .email-form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 540px;
        @include desktop992{
            max-width: 100%;
        }
    }
    .email-btn{
        background: #000;
        border: none;
        display: inline-block;
        font-size: 16px;
        color: #fff;
        height: 56px;
        line-height: 56px;
        padding: 0 30px;
        &:hover{
            background: #272727;
        }
    }
}

.footer{
    background: #f9f9f9;
    padding: 30px 0 38px;
    &_title{
        font-weight: 700;
        font-size: 18px;
        line-height: 34px;
        white-space: nowrap;
    }
    &_link{
        font-size: 16px;
        font-weight: 300;
        display: block;
        color: #000;
        line-height: 26px;
        &:hover, &:focus, &:active{
            color: #ec2033;
        }
        &.email{
            font-weight: 400;
        }
    }
    .social-icon{
        display: block;
        min-width: 57px;
        height: 57px;
        margin-left: 15px;
        border-radius: 50%;
        background: #d5d5d5 center/28px no-repeat;
        &:hover{
            background-color: #939393;
        }
        &.fb{
            background-image: url(../../images/facebook-logo.svg);
        }
        &.ig{
            background-image: url(../../images/instagram-logo.svg);
        }
        &_row{
            margin-top: 14px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
        &_title{
            font-size: 16px;
            font-weight: 300;
            display: block;
            color: #000;
            line-height: 26px;
            text-align: right;
        }
    }
}