// same width & height
@mixin size($size) {
    width: $size;
    height: $size;
}


@mixin mobile320 {
    @media screen and (min-width: 320px) {
        @content;
    }
}

@mixin mobile410 {
    @media screen and (min-width: 410px) {
        @content;
    }
}

@mixin mobile420 {
    @media screen and (min-width: 420px) {
        @content;
    }
}

@mixin mobile480 {
    @media screen and (min-width: 480px) {
        @content;
    }
}

@mixin mobile510 {
    @media screen and (min-width: 510px) {
        @content;
    }
}

@mixin mobile576 {
    @media screen and (min-width: 576px) {
        @content;
    }
}

@mixin tablet640 {
    @media screen and (min-width: 640px) {
        @content;
    }
}

@mixin tablet720 {
    @media screen and (min-width: 720px) {
        @content;
    }
}

@mixin tablet768 {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin tablet800 {
    @media screen and (min-width: 800px) {
        @content;
    }
}

@mixin tablet850 {
    @media screen and (min-width: 850px) {
        @content;
    }
}

@mixin desktop940 {
    @media screen and (min-width: 940px) {
        @content;
    }
}

@mixin desktop980 {
    @media screen and (min-width: 980px) {
        @content;
    }
}

@mixin desktop992 {
    @media screen and (min-width: 992px) {
        @content;
    }
}

@mixin desktop1075 {
    @media screen and (min-width: 1075px) {
        @content
    }
}

;
@mixin desktop1120 {
    @media screen and (min-width: 1120px) {
        @content
    }
}

;
@mixin desktop1200 {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@mixin desktop1220 {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@mixin desktop1400 {
    @media screen and (min-width: 1400px) {
        @content;
    }
}

@mixin desktop1560 {
    @media screen and (min-width: 1560px) {
        @content;
    }
}
