@import url(../vendor/bootstrap-4.0.0/css/bootstrap-grid.min.css);
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light.woff") format("woff"), url("../fonts/Ubuntu-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu-Regular.woff") format("woff"), url("../fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff"), url("../fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff"), url("../fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

html,
body,
div,
span,
object,
iframe,
img,
strong,
b,
u,
i,
table,
tbody,
tfoot,
thead,
td,
th,
tr form,
label,
legend,
header,
footer,
article,
section,
aside {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  line-height: 1; }

input:focus,
select:focus,
textarea:focus {
  outline: none; }

table,
td,
th,
tr {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Ubuntu', arial, helvetica, sans-serif; }

input,
select,
textarea,
button {
  font-family: 'Ubuntu', arial, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  color: #222; }

button,
input[type="button"] {
  cursor: pointer; }

button {
  outline: none;
  padding: 0; }

.clear {
  clear: both;
  font-size: 0; }

.clearfix::after {
  clear: both;
  content: "";
  display: table; }

a,
a:focus,
a:hover {
  text-decoration: none;
  /* color: inherit;*/ }

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  font-weight: normal; }

.container {
  width: 100%;
  max-width: 1560px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  background: transparent; }

.row {
  margin: 0 -15px; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  padding: 0 15px; }

.flex-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: start;
      justify-content: flex-start; }

.flex-col {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: start;
      justify-content: flex-start; }

.valign-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center; }

.button-def {
  background: #ec2033;
  font-size: 16px;
  line-height: 26px;
  padding: 10px 39px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 400; }
  .button-def:hover, .button-def:focus, .button-def:active {
    background: #f53244; }

.section_title {
  font-size: 40px;
  font-weight: 500;
  color: #000;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: end;
      align-items: flex-end; }
  .section_title::before {
    display: inline-block;
    width: 53px;
    height: 53px;
    background: url(../../images/mmd-logo-01.svg) 0 0 no-repeat;
    position: relative;
    margin: 0 21px 0 0;
    content: ''; }
  .section_title-wrap {
    display: inline-block;
    position: relative;
    margin-bottom: 65px; }
  .section_title-border {
    position: relative;
    display: block;
    margin-top: 5px;
    border-top: 1px solid #000;
    padding-top: 2px;
    border-bottom: 2px solid #000; }

.section_descr {
  margin-bottom: 65px; }

.p {
  font-size: 16px;
  font-weight: 300;
  color: #000;
  line-height: 30px; }

.thumbnail-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.thumbnail-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  max-width: 230px; }

.thumbnail-img {
  display: block;
  width: 37px;
  height: 37px;
  margin-bottom: 40px;
  border-radius: 50%;
  background: #e8e8e8; }

.thumbnail-descr {
  line-height: 26px; }

.main-slider {
  height: 778px;
  width: 100%; }
  .main-slider .main-slider_item {
    display: block; }

.header {
  background: #ec2033;
  height: 200px;
  padding: 33px 0 0; }
  .header_circle {
    display: block;
    width: 258px;
    height: 230px;
    border-radius: 50%;
    top: -5px;
    background: #ec2033 url(../../images/header-logo.svg) center 19px/164px no-repeat;
    position: relative;
    margin: 0 auto;
    z-index: 5; }
    .header_circle-wrap {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; }
  .header_nav-tools {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: start;
        align-items: flex-start; }
  .header_nav-region {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    border: none;
    background: transparent; }
    .header_nav-region::after {
      content: '';
      display: block;
      height: 23px;
      width: 18px;
      margin-left: 8px;
      background: url(../../images/map-point-icon.svg) -3px 0px/24px no-repeat; }
  .header_nav-profile {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    border: none;
    background: transparent; }
    .header_nav-profile::after {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      margin-left: 10px;
      background: url(../../images/profile-icon.svg) 0 0px/20px no-repeat; }
  .header_nav-lang {
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    padding: 0 2px 2px;
    margin-bottom: -2px;
    color: #fff;
    border: none;
    margin-left: 35px;
    display: inline-block;
    background: transparent;
    border-bottom: 1px solid #fff; }

.lang-block {
  display: block;
  position: relative; }
  .lang-block .dropdown-menu {
    display: none;
    position: absolute;
    width: 46px;
    right: 0 !important;
    left: auto !important;
    top: 35px !important;
    transform: none !important; }
    .lang-block .dropdown-menu.show {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column; }
  .lang-block .lang-item {
    font-size: 13px;
    font-weight: 300;
    padding-left: 7px;
    color: #000;
    background: #fff;
    border-bottom: 1px solid #d2d2d2;
    height: 31px;
    line-height: 30px; }
    .lang-block .lang-item:last-child {
      border-bottom: 0; }

.main-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  margin: 50px 0 0;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.main-menu {
  padding: 0;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  width: 100%; }

.menu-item {
  list-style: none;
  cursor: pointer;
  margin-right: 30px;
  position: relative; }
  .menu-item:nth-child(5) {
    margin-left: auto; }
  .menu-item .dropdown-menu {
    position: absolute;
    bottom: -174px !important;
    top: auto !important;
    left: 0;
    border: 1px solid #dadada;
    background: #f4f4f4;
    padding: 17px 0 27px;
    width: 360px;
    display: none;
    -ms-flex-direction: row;
        flex-direction: row; }
    .menu-item .dropdown-menu.show {
      display: -ms-flexbox;
      display: flex; }
  .menu-item .dropdown-item {
    font-size: 16px;
    line-height: 38px;
    color: #000;
    display: inline-block;
    height: 39px;
    width: 100%;
    text-align: left;
    padding: 0 0 0 26px; }
    .menu-item .dropdown-item:hover {
      background: #fff; }

.menu-item-link {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: row;
      flex-direction: row;
  cursor: pointer;
  -ms-flex-align: center;
      align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 34px;
  font-weight: 300;
  color: #fff; }
  .menu-item-link::after {
    content: '';
    display: inline-block;
    min-width: 8px;
    margin-left: 8px;
    height: 4px;
    background: url(../../images/dropdown-arrow-02.svg) center/100% no-repeat; }
  .menu-item-link:last-child::after {
    display: none; }

.cart-button {
  border: 1px solid #f45c6a;
  min-width: 158px;
  margin-left: 25px;
  height: 57px;
  background: transparent;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; }
  .cart-button:hover, .cart-button:focus, .cart-button:active {
    background: #000; }
  .cart-button::before {
    content: '';
    display: inline-block;
    margin-right: 11px;
    width: 30px;
    height: 25px;
    background: url(../../images/shopping-cart-icon.svg) 0/27px no-repeat; }

.region-block {
  position: relative; }

.region-popup {
  display: none !important;
  position: absolute;
  bottom: -48px;
  left: 0; }
  .region-popup.show {
    display: -ms-flexbox !important;
    display: flex !important; }
  .region-popup .region-input {
    width: 212px;
    height: 38px;
    padding: 0 15px;
    font-weight: 300;
    background: #fff;
    border: none;
    font-size: 16px;
    color: #7b7b7b;
    margin-right: 9px; }
  .region-popup .region-btn {
    margin-right: 9px;
    display: block;
    text-align: center;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    width: 46px;
    text-transform: uppercase;
    color: #fff;
    background: #000;
    text-align: center;
    border: none; }
